extends template
  
block head
  title GroundworkCSS ♥ Page Not Found
  
block content
  .container
    .row
      .two.centered.thirds.triple.padded.align-center
        h1.responsive(data-compression='7.5', data-min='30', data-max='200')
          i.icon-ambulance
          |  Not found
        h3.responsive(data-compression='16', data-min='18', data-max='170')
          | Sorry, but the page you were
          br
          | trying to view does not exist.
        .row
          .four.mobile.fifths.centered.double.padded
            form.row(action='http://www.google.com/search', method='get', target='_blank')
              .two.small-tablet.thirds.padded
                input(type='text', name='q', placeholder='Search')
              .one.small-tablet.third.padded
                button.block Search
        h3.responsive(data-compression='21.25', data-min='16', data-max='170') It looks like this could be the result of:
        h4
          ul.list.centered.align-left(style='display: inline-block;')
            li A mistyped address
            li An out-of-date link
            li An engineer needing a coffee
