extends template
  
block head
  title GroundworkCSS ♥ Buttons
  
block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-sign-blank
          |  Buttons
        p
          | Who doesn't need buttons? GroundworkCSS comes packed with useful button styles that can be easily customized to fit your needs.
        h6 Example usage:
        script(src='https://gist.github.com/ghepting/5282694.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        p
          a.small.button(href='#') Small Button
        p
          a.success.button(href='#') Normal Success
        p
          a.large.error.button(href='#') Large Error
        ul.button-list
          li
            a.active(href='#') Button 1
          li
            a(href='#') Button 2
          li
            a.disabled(href='#', tabindex='-1') Button 3
      .two.thirds.padded
        h2 Buttons
        p GroundworkCSS buttons are clean, accessible and easy to customize.
        p
          | NEW: Aria role support added for buttons. Buttons can be created by adding
          code class="button"
          |  to elements, using a
          code &lt;button&gt;
          | ,
          code &lt;input type="button"&gt;
          | ,
          code &lt;input type="submit"&gt;
          |  or
          code &lt;input type="reset"&gt;
          |  tag or by adding the Aria role to any element:
          code role="button"
          | .
        .row
          .one.third.padded
            h2 Button Sizes
            p
              button.small Small Button
            p
              button Medium Button
            p
              button.large Large Button
          .one.third.padded
            h2 Button Types
            p
              button Normal Button
            p
              button.info Info Button
            p
              button.success Success Button
            p
              button.alert Alert Button
            p
              button.warning Warning Button
            p
              button.error Error Button
          .one.third.padded
            h2 Button Styles
            p
              button Normal Button
            p
              button.square Square Button
            p
              button.round Round Button
            p
              button.block Block Button
        hr
        h2 Button States
        .row
          .one.third.padded
            h2 Disabled
            p
              button.disabled(tabindex='-1') Disabled Button
            p
              button.info.disabled Disabled Info
            p
              button.success.disabled Disabled Success
            p
              button.alert.disabled Disabled Alert
            p
              button.warning.disabled Disabled Warning
            p
              button.error.disabled Disabled Error
          .one.third.padded
            h2 Active
            p
              button.active Active Button
            p
              button.info.active Active Info
            p
              button.success.active Active Success
            p
              button.alert.active Active Alert
            p
              button.warning.active Active Warning
            p
              button.error.active Active Error
        hr
        h2 Button Lists
        ul.button-list
          li
            a(href='#') Button 1
          li
            a(href='#') Button 2
          li
            a(href='#') Button 3
        hr
        h2 Menu Buttons
        button.dropdown.button
          | Dropdown Menu Button
          ul
            li
              a(href='#')
                i.icon-home
                |  Example Menu Item 1
            li
              a(href='#')
                i.icon-envelope-alt
                |  Example Menu Item 2
            hr
            li
              a(href='#')
                i.icon-heart
                |  Seperated Menu Item
        hr
        h2 Buttons with Icons
        p
          button.small
            | Like 
            i.icon-thumbs-up
        p
          button
            i.icon-home
            |  Home
        p
          button.large
            | Download 
            i.icon-download-alt
        ul.button-list
          li
            a(href='#')
              i.icon-github-alt
          li
            a(href='#')
              i.icon-twitter
          li
            a(href='#')
              i.icon-linkedin-sign
          li
            a(href='#')
              i.icon-google-plus
          li
            a(href='#')
              i.icon-facebook-sign
          li
            a(href='#')
              i.icon-pinterest
        hr
        h2 Next Up: Navigation
        p
          a(href='./navigation') Navigation
          | is a vital component of virtually any web site or application. GroundworkCSS offers clean, accessible and easily customizable navigation elements that work great on virtually any device.
        p
          a.button(href='./navigation')
            | Read More 
            i.icon-chevron-right
