extends template
  
block head
  title GroundworkCSS ♥ Cycle2 Responsive Image &amp; Content Slider
  
block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-picture
          |  Cycle2
        p
          | A powerful responsive content slider created by 
          a(href='http://www.malsup.com/jquery/cycle2/', target='_blank') @malsup
          | . For documentation visit the 
          a(href='http://www.malsup.com/jquery/cycle2/', target='_blank') Cycle2 homepage
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5285452.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        .cycle-slideshow(data-cycle-timeout='3000')
          img(src='http://placehold.it/800x600/24cada/ffffff/&text=Slide+1', alt='')
          img(src='http://placehold.it/800x600/bada55/ffffff/&text=Slide+2', alt='')
          img(src='http://placehold.it/800x600/c82647/ffffff/&text=Slide+3', alt='')
          img(src='http://placehold.it/800x600/198d98/ffffff/&text=Slide+4', alt='')
      .two.thirds.padded
        h2
          i.icon-picture
          |  Cycle2 Slideshows
        blockquote
          | Cycle2 is a versatile slideshow plugin for jQuery built around ease-of-use. It supports a declarative initialization style that allows full customization without any scripting. Simply include the plugin, declare your markup, and Cycle2 does the rest. 
          cite @malsup
        hr
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5282923.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        .cycle-slideshow(data-cycle-fx='scrollHorz')
          img(src='http://placehold.it/1200x400/24cada/ffffff/&text=Slide+1', alt='')
          img(src='http://placehold.it/1200x400/bada55/ffffff/&text=Slide+2', alt='')
          img(src='http://placehold.it/1200x400/c82647/ffffff/&text=Slide+3', alt='')
          img(src='http://placehold.it/1200x400/198d98/ffffff/&text=Slide+4', alt='')
        hr
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5282925.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        .cycle-slideshow(data-cycle-slides="> div", data-cycle-timeout="2000")
          .one.whole.callout
            h1 Content Slide
            p
              | This slide has HTML content instead of an image and has also had 
              code.inline .callout
              |  applied to it.
            p
              a.success.button(href='#') Click Me
          .one.whole.warning.callout
            h1 Another Content Slide
            p
              | This slide has HTML content instead of an image and has also had 
              code.inline .warning.callout
              |  applied to it.
            p
              a.large.button(href='#') Click Me
        hr
        h2 Next Step: Templates
        p
          | Download one of the starter 
          a(href='./templates') templates
          |  and get started prototyping and building with GroundworkCSS.
        p
          a.button(href='./templates')
            | Read More 
            i.icon-chevron-right
