extends template
  
block head
  title GroundworkCSS ♥ Icons
  
block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-magic
          |  Icons
        p
          | The full suite of pictographic icons, examples, and documentation can be found at: 
          a(href='http://fortawesome.github.com/Font-Awesome/', target='_blank') http://fortawesome.github.com/Font-Awesome/
        h6 Example usage:
        script(src='https://gist.github.com/ghepting/5282713.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        i.icon-twitter
        | 
        i.icon-circle-arrow-left.icon-2x
        | 
        i.icon-facetime-video.icon-3x
        | 
        i.icon-github-alt.icon-4x
        hr
        h2 Spinners
        p
          | GroundworkCSS comes standard with Font Awesome 3.0, which comes packed with styles to spin icons smoothly.
        p.small Note: Uses CSS3 keyframe animations and is not supported in legacy browsers.
        h6 Example usage:
        script(src='https://gist.github.com/ghepting/5282715.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        i.icon-refresh.icon-2x.icon-spin
        | 
        i.icon-spinner.icon-4x.icon-spin
      .two.thirds.padded
        section#icons-web-app.row
          .one.whole
            h3 Web Application Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-adjust')
                    i.icon-adjust
                  li(data-class='icon-asterisk')
                    i.icon-asterisk
                  li(data-class='icon-ban-circle')
                    i.icon-ban-circle
                  li(data-class='icon-bar-chart')
                    i.icon-bar-chart
                  li(data-class='icon-barcode')
                    i.icon-barcode
                  li(data-class='icon-beaker')
                    i.icon-beaker
                  li(data-class='icon-beer')
                    i.icon-beer
                  li(data-class='icon-bell')
                    i.icon-bell
                  li(data-class='icon-bell-alt')
                    i.icon-bell-alt
                  li(data-class='icon-bolt')
                    i.icon-bolt
                  li(data-class='icon-book')
                    i.icon-book
                  li(data-class='icon-bookmark')
                    i.icon-bookmark
                  li(data-class='icon-bookmark-empty')
                    i.icon-bookmark-empty
                  li(data-class='icon-briefcase')
                    i.icon-briefcase
                  li(data-class='icon-bullhorn')
                    i.icon-bullhorn
                  li(data-class='icon-calendar')
                    i.icon-calendar
                  li(data-class='icon-camera')
                    i.icon-camera
                  li(data-class='icon-camera-retro')
                    i.icon-camera-retro
                  li(data-class='icon-certificate')
                    i.icon-certificate
                  li(data-class='icon-check')
                    i.icon-check
                  li(data-class='icon-check-empty')
                    i.icon-check-empty
                  li(data-class='icon-circle')
                    i.icon-circle
                  li(data-class='icon-circle-blank')
                    i.icon-circle-blank
                  li(data-class='icon-cloud')
                    i.icon-cloud
                  li(data-class='icon-cloud-download')
                    i.icon-cloud-download
                  li(data-class='icon-cloud-upload')
                    i.icon-cloud-upload
                  li(data-class='icon-coffee')
                    i.icon-coffee
                  li(data-class='icon-cog')
                    i.icon-cog
                  li(data-class='icon-cogs')
                    i.icon-cogs
                  li(data-class='icon-comment')
                    i.icon-comment
                  li(data-class='icon-comment-alt')
                    i.icon-comment-alt
                  li(data-class='icon-comments')
                    i.icon-comments
                  li(data-class='icon-comments-alt')
                    i.icon-comments-alt
                  li(data-class='icon-credit-card')
                    i.icon-credit-card
                  li(data-class='icon-dashboard')
                    i.icon-dashboard
                  li(data-class='icon-desktop')
                    i.icon-desktop
                  li(data-class='icon-download')
                    i.icon-download
                  li(data-class='icon-download-alt')
                    i.icon-download-alt
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-edit')
                    i.icon-edit
                  li(data-class='icon-envelope')
                    i.icon-envelope
                  li(data-class='icon-envelope-alt')
                    i.icon-envelope-alt
                  li(data-class='icon-exchange')
                    i.icon-exchange
                  li(data-class='icon-exclamation-sign')
                    i.icon-exclamation-sign
                  li(data-class='icon-external-link')
                    i.icon-external-link
                  li(data-class='icon-eye-close')
                    i.icon-eye-close
                  li(data-class='icon-eye-open')
                    i.icon-eye-open
                  li(data-class='icon-facetime-video')
                    i.icon-facetime-video
                  li(data-class='icon-fighter-jet')
                    i.icon-fighter-jet
                  li(data-class='icon-film')
                    i.icon-film
                  li(data-class='icon-filter')
                    i.icon-filter
                  li(data-class='icon-fire')
                    i.icon-fire
                  li(data-class='icon-flag')
                    i.icon-flag
                  li(data-class='icon-folder-close')
                    i.icon-folder-close
                  li(data-class='icon-folder-open')
                    i.icon-folder-open
                  li(data-class='icon-folder-close-alt')
                    i.icon-folder-close-alt
                  li(data-class='icon-folder-open-alt')
                    i.icon-folder-open-alt
                  li(data-class='icon-food')
                    i.icon-food
                  li(data-class='icon-gift')
                    i.icon-gift
                  li(data-class='icon-glass')
                    i.icon-glass
                  li(data-class='icon-globe')
                    i.icon-globe
                  li(data-class='icon-group')
                    i.icon-group
                  li(data-class='icon-hdd')
                    i.icon-hdd
                  li(data-class='icon-headphones')
                    i.icon-headphones
                  li(data-class='icon-heart')
                    i.icon-heart
                  li(data-class='icon-heart-empty')
                    i.icon-heart-empty
                  li(data-class='icon-home')
                    i.icon-home
                  li(data-class='icon-inbox')
                    i.icon-inbox
                  li(data-class='icon-info-sign')
                    i.icon-info-sign
                  li(data-class='icon-key')
                    i.icon-key
                  li(data-class='icon-leaf')
                    i.icon-leaf
                  li(data-class='icon-laptop')
                    i.icon-laptop
                  li(data-class='icon-legal')
                    i.icon-legal
                  li(data-class='icon-lemon')
                    i.icon-lemon
                  li(data-class='icon-lightbulb')
                    i.icon-lightbulb
                  li(data-class='icon-lock')
                    i.icon-lock
                  li(data-class='icon-unlock')
                    i.icon-unlock
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-magic')
                    i.icon-magic
                  li(data-class='icon-magnet')
                    i.icon-magnet
                  li(data-class='icon-map-marker')
                    i.icon-map-marker
                  li(data-class='icon-minus')
                    i.icon-minus
                  li(data-class='icon-minus-sign')
                    i.icon-minus-sign
                  li(data-class='icon-mobile-phone')
                    i.icon-mobile-phone
                  li(data-class='icon-money')
                    i.icon-money
                  li(data-class='icon-move')
                    i.icon-move
                  li(data-class='icon-music')
                    i.icon-music
                  li(data-class='icon-off')
                    i.icon-off
                  li(data-class='icon-ok')
                    i.icon-ok
                  li(data-class='icon-ok-circle')
                    i.icon-ok-circle
                  li(data-class='icon-ok-sign')
                    i.icon-ok-sign
                  li(data-class='icon-pencil')
                    i.icon-pencil
                  li(data-class='icon-picture')
                    i.icon-picture
                  li(data-class='icon-plane')
                    i.icon-plane
                  li(data-class='icon-plus')
                    i.icon-plus
                  li(data-class='icon-plus-sign')
                    i.icon-plus-sign
                  li(data-class='icon-print')
                    i.icon-print
                  li(data-class='icon-pushpin')
                    i.icon-pushpin
                  li(data-class='icon-qrcode')
                    i.icon-qrcode
                  li(data-class='icon-question-sign')
                    i.icon-question-sign
                  li(data-class='icon-quote-left')
                    i.icon-quote-left
                  li(data-class='icon-quote-right')
                    i.icon-quote-right
                  li(data-class='icon-random')
                    i.icon-random
                  li(data-class='icon-refresh')
                    i.icon-refresh
                  li(data-class='icon-remove')
                    i.icon-remove
                  li(data-class='icon-remove-circle')
                    i.icon-remove-circle
                  li(data-class='icon-remove-sign')
                    i.icon-remove-sign
                  li(data-class='icon-reorder')
                    i.icon-reorder
                  li(data-class='icon-reply')
                    i.icon-reply
                  li(data-class='icon-resize-horizontal')
                    i.icon-resize-horizontal
                  li(data-class='icon-resize-vertical')
                    i.icon-resize-vertical
                  li(data-class='icon-retweet')
                    i.icon-retweet
                  li(data-class='icon-road')
                    i.icon-road
                  li(data-class='icon-rss')
                    i.icon-rss
                  li(data-class='icon-screenshot')
                    i.icon-screenshot
                  li(data-class='icon-search')
                    i.icon-search
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-share')
                    i.icon-share
                  li(data-class='icon-share-alt')
                    i.icon-share-alt
                  li(data-class='icon-shopping-cart')
                    i.icon-shopping-cart
                  li(data-class='icon-signal')
                    i.icon-signal
                  li(data-class='icon-signin')
                    i.icon-signin
                  li(data-class='icon-signout')
                    i.icon-signout
                  li(data-class='icon-sitemap')
                    i.icon-sitemap
                  li(data-class='icon-sort')
                    i.icon-sort
                  li(data-class='icon-sort-down')
                    i.icon-sort-down
                  li(data-class='icon-sort-up')
                    i.icon-sort-up
                  li(data-class='icon-spinner')
                    i.icon-spinner
                  li(data-class='icon-star')
                    i.icon-star
                  li(data-class='icon-star-empty')
                    i.icon-star-empty
                  li(data-class='icon-star-half')
                    i.icon-star-half
                  li(data-class='icon-tablet')
                    i.icon-tablet
                  li(data-class='icon-tag')
                    i.icon-tag
                  li(data-class='icon-tags')
                    i.icon-tags
                  li(data-class='icon-tasks')
                    i.icon-tasks
                  li(data-class='icon-thumbs-down')
                    i.icon-thumbs-down
                  li(data-class='icon-thumbs-up')
                    i.icon-thumbs-up
                  li(data-class='icon-time')
                    i.icon-time
                  li(data-class='icon-tint')
                    i.icon-tint
                  li(data-class='icon-trash')
                    i.icon-trash
                  li(data-class='icon-trophy')
                    i.icon-trophy
                  li(data-class='icon-truck')
                    i.icon-truck
                  li(data-class='icon-umbrella')
                    i.icon-umbrella
                  li(data-class='icon-upload')
                    i.icon-upload
                  li(data-class='icon-upload-alt')
                    i.icon-upload-alt
                  li(data-class='icon-user')
                    i.icon-user
                  li(data-class='icon-user-md')
                    i.icon-user-md
                  li(data-class='icon-volume-off')
                    i.icon-volume-off
                  li(data-class='icon-volume-down')
                    i.icon-volume-down
                  li(data-class='icon-volume-up')
                    i.icon-volume-up
                  li(data-class='icon-warning-sign')
                    i.icon-warning-sign
                  li(data-class='icon-wrench')
                    i.icon-wrench
                  li(data-class='icon-zoom-in')
                    i.icon-zoom-in
                  li(data-class='icon-zoom-out')
                    i.icon-zoom-out
        section#icons-text-editor.row
          .one.whole
            h3 Text Editor Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-file')
                    i.icon-file
                  li(data-class='icon-file-alt')
                    i.icon-file-alt
                  li(data-class='icon-cut')
                    i.icon-cut
                  li(data-class='icon-copy')
                    i.icon-copy
                  li(data-class='icon-paste')
                    i.icon-paste
                  li(data-class='icon-save')
                    i.icon-save
                  li(data-class='icon-undo')
                    i.icon-undo
                  li(data-class='icon-repeat')
                    i.icon-repeat
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-text-height')
                    i.icon-text-height
                  li(data-class='icon-text-width')
                    i.icon-text-width
                  li(data-class='icon-align-left')
                    i.icon-align-left
                  li(data-class='icon-align-center')
                    i.icon-align-center
                  li(data-class='icon-align-right')
                    i.icon-align-right
                  li(data-class='icon-align-justify')
                    i.icon-align-justify
                  li(data-class='icon-indent-left')
                    i.icon-indent-left
                  li(data-class='icon-indent-right')
                    i.icon-indent-right
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-font')
                    i.icon-font
                  li(data-class='icon-bold')
                    i.icon-bold
                  li(data-class='icon-italic')
                    i.icon-italic
                  li(data-class='icon-strikethrough')
                    i.icon-strikethrough
                  li(data-class='icon-underline')
                    i.icon-underline
                  li(data-class='icon-link')
                    i.icon-link
                  li(data-class='icon-paper-clip')
                    i.icon-paper-clip
                  li(data-class='icon-columns')
                    i.icon-columns
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-table')
                    i.icon-table
                  li(data-class='icon-th-large')
                    i.icon-th-large
                  li(data-class='icon-th')
                    i.icon-th
                  li(data-class='icon-th-list')
                    i.icon-th-list
                  li(data-class='icon-list')
                    i.icon-list
                  li(data-class='icon-list-ol')
                    i.icon-list-ol
                  li(data-class='icon-list-ul')
                    i.icon-list-ul
                  li(data-class='icon-list-alt')
                    i.icon-list-alt
        section#icons-directional.row
          .one.whole
            h3 Directional Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-angle-left')
                    i.icon-angle-left
                  li(data-class='icon-angle-right')
                    i.icon-angle-right
                  li(data-class='icon-angle-up')
                    i.icon-angle-up
                  li(data-class='icon-angle-down')
                    i.icon-angle-down
                  li(data-class='icon-arrow-down')
                    i.icon-arrow-down
                  li(data-class='icon-arrow-left')
                    i.icon-arrow-left
                  li(data-class='icon-arrow-right')
                    i.icon-arrow-right
                  li(data-class='icon-arrow-up')
                    i.icon-arrow-up
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-caret-down')
                    i.icon-caret-down
                  li(data-class='icon-caret-left')
                    i.icon-caret-left
                  li(data-class='icon-caret-right')
                    i.icon-caret-right
                  li(data-class='icon-caret-up')
                    i.icon-caret-up
                  li(data-class='icon-chevron-down')
                    i.icon-chevron-down
                  li(data-class='icon-chevron-left')
                    i.icon-chevron-left
                  li(data-class='icon-chevron-right')
                    i.icon-chevron-right
                  li(data-class='icon-chevron-up')
                    i.icon-chevron-up
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-circle-arrow-down')
                    i.icon-circle-arrow-down
                  li(data-class='icon-circle-arrow-left')
                    i.icon-circle-arrow-left
                  li(data-class='icon-circle-arrow-right')
                    i.icon-circle-arrow-right
                  li(data-class='icon-circle-arrow-up')
                    i.icon-circle-arrow-up
                  li(data-class='icon-double-angle-left')
                    i.icon-double-angle-left
                  li(data-class='icon-double-angle-right')
                    i.icon-double-angle-right
                  li(data-class='icon-double-angle-up')
                    i.icon-double-angle-up
                  li(data-class='icon-double-angle-down')
                    i.icon-double-angle-down
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-hand-down')
                    i.icon-hand-down
                  li(data-class='icon-hand-left')
                    i.icon-hand-left
                  li(data-class='icon-hand-right')
                    i.icon-hand-right
                  li(data-class='icon-hand-up')
                    i.icon-hand-up
                  li(data-class='icon-circle')
                    i.icon-circle
                  li(data-class='icon-circle-blank')
                    i.icon-circle-blank
        section#icons-video-player.row
          .one.whole
            h3 Video Player Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-play-circle')
                    i.icon-play-circle
                  li(data-class='icon-play')
                    i.icon-play
                  li(data-class='icon-pause')
                    i.icon-pause
                  li(data-class='icon-stop')
                    i.icon-stop
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-step-backward')
                    i.icon-step-backward
                  li(data-class='icon-fast-backward')
                    i.icon-fast-backward
                  li(data-class='icon-backward')
                    i.icon-backward
                  li(data-class='icon-forward')
                    i.icon-forward
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-fast-forward')
                    i.icon-fast-forward
                  li(data-class='icon-step-forward')
                    i.icon-step-forward
                  li(data-class='icon-eject')
                    i.icon-eject
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-fullscreen')
                    i.icon-fullscreen
                  li(data-class='icon-resize-full')
                    i.icon-resize-full
                  li(data-class='icon-resize-small')
                    i.icon-resize-small
        section#icons-social.row
          .one.whole
            h3 Social Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-phone')
                    i.icon-phone
                  li(data-class='icon-phone-sign')
                    i.icon-phone-sign
                  li(data-class='icon-facebook')
                    i.icon-facebook
                  li(data-class='icon-facebook-sign')
                    i.icon-facebook-sign
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-twitter')
                    i.icon-twitter
                  li(data-class='icon-twitter-sign')
                    i.icon-twitter-sign
                  li(data-class='icon-github')
                    i.icon-github
                  li(data-class='icon-github-alt')
                    i.icon-github-alt
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-github-sign')
                    i.icon-github-sign
                  li(data-class='icon-linkedin')
                    i.icon-linkedin
                  li(data-class='icon-linkedin-sign')
                    i.icon-linkedin-sign
                  li(data-class='icon-pinterest')
                    i.icon-pinterest
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-pinterest-sign')
                    i.icon-pinterest-sign
                  li(data-class='icon-google-plus')
                    i.icon-google-plus
                  li(data-class='icon-google-plus-sign')
                    i.icon-google-plus-sign
                  li(data-class='icon-sign-blank')
                    i.icon-sign-blank
        section#icons-medical.row
          .one.whole
            h3 Medical Icons
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-ambulance')
                    i.icon-ambulance
                  li(data-class='icon-beaker')
                    i.icon-beaker
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-h-sign')
                    i.icon-h-sign
                  li(data-class='icon-hospital')
                    i.icon-hospital
          .one.mobile.half
            .row
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-medkit')
                    i.icon-medkit
                  li(data-class='icon-plus-sign-alt')
                    i.icon-plus-sign-alt
              .one.small-tablet.half
                ul.the-icons
                  li(data-class='icon-stethoscope')
                    i.icon-stethoscope
                  li(data-class='icon-user-md')
                    i.icon-user-md
