extends template
  
block head
  title GroundworkCSS ♥ 
  
block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-tablet
          |  Media Queries
        p GroundworkCSS's adaptive grid is mobile-friendly and fully responsive.
        h6 Example Media Query:
        script(src='https://gist.github.com/ghepting/5282657.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
      .two.thirds.padded
        h2 Overview
        p
          | GroundworkCSS has been built to help you make websites that look great on any screen, big ones, small ones, and ones in sizes that have yet to be invented. GroundworkCSS columns, by default, expand to full-width rows when the viewport drops below 768 pixels.
        h2 Mobile and Tablet Layouts
        p
          | In cases where you want columns for smaller widths, you simply add one of these classes:
        dl
          dt
            code small-tablet
          dd Grid structure remains intact until 480 pixel viewport widths
          dt
            code mobile
          dd Grid structure remains intact at all sizes.
        h6 Example usage:
        script(src='https://gist.github.com/ghepting/5282687.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        .demo
          .row
            .two.thirds Normal
            .one.third Normal
          .row
            .two.small-tablet.thirds Small Tablet
            .one.small-tablet.third Small Tablet
          .row
            .two.mobile.thirds Mobile
            .one.mobile.third Mobile
        hr
        h2 Next Up: Sass Mixins
        p
          | Media queries and many other useful, reusable functions and components in GroundworkCSS are abstracted into easy-to-use 
          a(href='./mixins') Sass Mixins
          | .
        p
          a.button(href='./mixins')
            | Read More 
            i.icon-chevron-right
