extends template
  
block head
  title GroundworkCSS ♥ Sass Mixins
  
block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-beaker
          |  Sass Mixins
        p
          | Mixins can contain full CSS rules that can be shared throughout your Sass code. They can even take arguments which allows you to produce a wide variety of styles with very few mixins. GroundworkCSS contains mixins that help out with media queries, drop shadows, css3 transitions, inline images (dataURIs), gradients, font stacks and more.
        h6 Example Mixin:
        script(src='https://gist.github.com/ghepting/5282525.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        hr
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5282572.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        script(src='https://gist.github.com/ghepting/5282657.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
      .two.thirds.padded
        h2 Sass Mixins
        p
          | GroundworkCSS has many mixins to help keep things consistant and DRY. Below are just a few examples - view the
          a(href='https://github.com/groundworkcss/groundwork/blob/master/src/scss/core/_mixins.scss', target='_blank')
            code src/scss/core/_mixins.scss
          |  file to view the complete collection.
        .row
          .one.whole.padded
            h5 Media Query - Mobile
            script(src='https://gist.github.com/ghepting/5278285.js')
            noscript
              p.error.callout Javascript is required to display Gist from Github
            hr
            h5 Inline Image (DataURI)
            script(src='https://gist.github.com/ghepting/5282490.js')
            noscript
              p.error.callout Javascript is required to display Gist from Github
            hr
            h5 Drop Shadow
            script(src='https://gist.github.com/ghepting/5282499.js')
            noscript
              p.error.callout Javascript is required to display Gist from Github
            hr
            h5 Border Radius
            script(src='https://gist.github.com/ghepting/5282506.js')
            noscript
              p.error.callout Javascript is required to display Gist from Github
            hr
            h5 CSS3 - Transition
            script(src='https://gist.github.com/ghepting/5282508.js')
            noscript
              p.error.callout Javascript is required to display Gist from Github
            hr
            h5 Font Stack
            script(src='https://gist.github.com/ghepting/5282515.js')
            noscript
              p.error.callout Javascript is required to display Gist from Github
            hr
            h5 Vertical Gradient
            script(src='https://gist.github.com/ghepting/5282519.js')
            noscript
              p.error.callout Javascript is required to display Gist from Github
        hr
        h2 Next Up: Layout Helpers
        p
          | Mixins are an especially useful way to share properties among elements within and outside of media queries, such as the 
          a(href='./helpers') Layout Helpers
        p
          a.button(href='./helpers')
            | Read More 
            i.icon-chevron-right
