extends template
  
block head
  title GroundworkCSS ♥ Sass &amp; Compass
  
block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-plus-sign-alt 
          | Sass + Compass
        p
          | Sass is a powerful extension to CSS and provides variables, functions, the use of mixins and extends which speeds up development and makes code cleaner and much more organized.
        p
          i.icon-warning-sign 
          | NOTE: For those that aren't using a CSS preprocessor yet, have no fear! We've packaged all of the normal CSS with GroundworkCSS as well. However, we strongly encourage you to
          a(href='http://sass-lang.com/', target='_blank') learn and use Sass
          | . The SCSS syntax is very familiar, is easy to learn and can drastically increase your efficiency.
        p.small
          | P.S. — If you're not a fan of the terminal, 
          a(href='http://incident57.com/codekit/', target='_blank') give CodeKit a try
          | .
      .two.thirds.padded
        h2 Sass + Compass
        blockquote
          strong Sass makes CSS fun again
          | . Sass is an extension of CSS3, adding
          a(href='#nesting') nested rules
          | ,
          a(href='#variables') variables
          | ,
          a(href='#mixins') mixins
          | ,
          a(href='#extend') selector inheritance
          | , and
          a(href='/docs/yardoc/file.SASS_REFERENCE.html') more
          | . It’s translated to well-formatted, standard CSS using the command line tool or a web-framework plugin.
          cite
            a(href='http://sass-lang.com/', target='_blank') http://sass-lang.com/
        h6 Example Sass Code:
        script(src='https://gist.github.com/ghepting/5282927.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        p.small
          | NOTE: This example is demonstrating the use of
          a(href='http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_', target='_blank') variables
          | as well as
          a(href='http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#nested_rules', target='_blank') nested rules
          | using the
          a(href='#', target='_blank') SCSS
          | syntax.
