extends template

block head
  title GroundworkCSS ♥ Tables

block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-table
          |  Tables
        p
          | GroundworkCSS offers clean and easy-to-customize styling for tabular data.
        h6 Example usage:
        script(src='https://gist.github.com/ghepting/5282711.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        table
          thead
            tr
              th table heading th cell
              td table heading td cell
          tbody
            tr
              th th cell
              td td cell
        h6 Example usage:
        script(src='https://gist.github.com/ghepting/5606802.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        table.purple
          thead
            tr
              th table heading th cell
              td table heading td cell
          tbody
            tr
              th th cell
              td td cell
      .two.thirds.padded
        h2 Responsive Data Tables
        p
          | People love to bash on tables almost as much as they love to hate old versions of IE, but there are times when you actually should use a
          code &lt;table&gt;
          |  to display data. GroundworkCSS includes easily customizable table styling to help you make your otherwise-boring tabluar data look great and stay clean.
        .row
          .one.whole.padded
              table.responsive.tooltip(title='responsive data table', data-compression='30', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                    th Table Heading
                    th Table Heading
                    th Table Heading
                tbody
                  tr
                    td Table cell
                    td Table cell
                    td Table cell
                    td Table cell
                  tr
                    td Table cell
                    td Table cell
                    td Table cell
                    td Table cell
                  tr
                    td Table cell
                    td Table cell
                    td Table cell
                    td Table cell
                  tr
                    td Table cell
                    td Table cell
                    td Table cell
                    td Table cell
                tfoot
                  tr
                    td Footer cell
                    td Footer cell
                    td Footer cell
                    td Footer cell
          .row
            .one.third.padded
              table.responsive.blue.tooltip(title='blue', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.green.tooltip(title='green', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.purple.tooltip(title='purple', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
          .row
            .one.third.padded
              table.responsive.yellow.tooltip(title='yellow', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.orange.tooltip(title='orange', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.red.tooltip(title='red', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
          .row
            .one.third.padded
              table.responsive.pink.tooltip(title='pink', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.turquoise.tooltip(title='turquoise', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell
            .one.third.padded
              table.responsive.asphalt.tooltip(title='asphalt', data-compression='10', data-min='10', data-max='13', data-padding='2')
                thead
                  tr
                    th Table Heading
                tbody
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                  tr
                    td Table cell
                tfoot
                  tr
                    td Footer cell

