extends template
  
block head
  title GroundworkCSS ♥ Responsive Templates to Get You Started
  
block content
  .container
    .row
      .one.third.padded
        h2 Templates
        .row
          .one.mobile.sixth
            .demo.legend
              .row
                .one.whole  
          .five.mobile.sixths.padded
            h4
              i.icon-laptop
              |  Desktop
        .row
          .one.mobile.sixth
            .demo.legend
              .row
                .one.small-tablet.whole  
          .five.mobile.sixths.padded
            h4
              i.icon-tablet
              |  Small Tablet
        .row
          .one.mobile.sixth
            .demo.legend
              .row
                .one.mobile.whole  
          .five.mobile.sixths.padded
            h4
              i.icon-mobile-phone
              |  Mobile
      .two.thirds.padded
        h2 We've Taken Care of the Groundwork
        h4 Responsive Templates to Get You Started
        .row
          // Layout 1
          .one.third.padded
            a.modal(href='./groundwork/templates/layout-1.html')
              h6 Layout 1
              .layout
                .row
                  .one.whole
                    h5 Slider
                .row
                  .three.fourths.padded
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
                    .row
                      .one.small-tablet.third
                      .two.small-tablet.thirds
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
                  .one.fourth.padded
                    .row
                      .one.whole
                    .row
                      .one.mobile.half
                      .one.mobile.half
                    .row
                      .one.mobile.half
                      .one.mobile.half
            p.align-center
              a(href="./layout-1.html.zip")
                i.icon-download-alt 
                |  Download ZIP
          // Layout 2
          .one.third.padded
            a.modal(href='./groundwork/templates/layout-2.html')
              h6 Layout 2
              .layout
                .row
                  .one.whole
                    h5 Slider
                .row
                  .one.fourth.padded
                    .row
                      .one.whole
                    .row
                      .one.mobile.half
                      .one.mobile.half
                    .row
                      .one.mobile.half
                      .one.mobile.half
                  .three.fourths.padded
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
                    .row
                      .one.small-tablet.third
                      .two.small-tablet.thirds
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
            p.align-center
              a(href="./layout-2.html.zip")
                i.icon-download-alt 
                |  Download ZIP
          // Layout 3
          .one.third.padded
            a.modal(href='./groundwork/templates/layout-3.html')
              h6 Layout 3
              .layout
                .row
                  .three.fourths.right-one.padded
                    .row
                      .one.whole
                        h5 Slider
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
                    .row
                      .one.small-tablet.third
                      .two.small-tablet.thirds
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
                  .one.fourth.left-three.padded
                    .row
                      .one.whole
                        h6 1
                    .row
                      .one.mobile.half
                      .one.mobile.half
                    .row
                      .one.mobile.half
                      .one.mobile.half
                    .row
                      .one.mobile.half
                      .one.mobile.half
            p.align-center
              a(href="./layout-3.html.zip")
                i.icon-download-alt 
                |  Download ZIP
          // Layout 4
          .one.third.padded
            a.modal(href='./groundwork/templates/layout-4.html')
              h6 Layout 4
              .layout
                .row
                  .three.fourths.padded
                    .row
                      .one.whole
                        h5 Slider
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
                    .row
                      .one.small-tablet.third
                      .two.small-tablet.thirds
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
                  .one.fourth.padded
                    .row
                      .one.whole
                        h6 1
                    .row
                      .one.mobile.half
                      .one.mobile.half
                    .row
                      .one.mobile.half
                      .one.mobile.half
                    .row
                      .one.mobile.half
                      .one.mobile.half
            p.align-center
              a(href="./layout-4.html.zip")
                i.icon-download-alt 
                |  Download ZIP
          // Layout 5
          .one.third.padded
            a.modal(href='./groundwork/templates/layout-5.html')
              h6 Layout 5
              .layout
                .row
                  .three.fifths.right-one.padded
                    .row
                      .one.whole
                        h5 Slider
                    .row
                      .two.small-tablet.thirds
                      .one.small-tablet.third
                  .one.fifth.left-three.padded
                    .row
                      .one.whole
                        h6 1
                    .row
                      .one.mobile.half
                      .one.mobile.half
                  .one.fifth.padded
                    .row
                      .one.whole
                        h6 2
                    .row
                      .one.mobile.half
                      .one.mobile.half
                .row
                  .one.whole.padded
                    .row
                      .one.third A
                      .one.third B
                      .one.third C
            p.align-center
              a(href="./layout-5.html.zip")
                i.icon-download-alt 
                |  Download ZIP
