extends template
  
block head
  title GroundworkCSS ♥ Tiles
  
block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-check
          | Tiles
        p
          | UI elements that offer great alternative to radio buttons and other boring standard form elements. Created by
          a(href='https://github.com/xinix', target='_blank') @xinix
          | and enhanced by
          a(href='https://github.com/ghepting', target='_blank') @ghepting
          | .
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5306575.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        .tiles
          input#exampleTile.value(type='hidden', value='')
          .small.tile(data-value='yep')
            i.icon-star
          .small.tile(data-value='nope')
            i.icon-star-empty
        script(type='text/javascript')
          $(document).ready(function() {
          $('input#exampleTile').on('change', function() {
          if($(this).val() == 'yep')
          alert("Right on!");
          else
          alert("Aww, how come?");
          });
          });
      .two.thirds.padded
        h2 Tiles
        .tiles
          .row
            .one.small-tablet.fifth.padded
              select.value
                option(value='single', selected='selected') Single
                option(value='group') Group
                option(value='corp') Corp
            .four.small-tablet.fifths.padded
              .tile(data-value='single')
                i.icon-user
                | Single user
              .tile(data-value='group')
                i.icon-group
                | Small group
              .tile(data-value='corp')
                i.icon-building
                | Corporation
        hr
        h4 Tile Colors
        .tiles
          .row
            .one.small-tablet.fifth.padded
              select.value(size='5')
                option(value='default', selected='selected') Default
                option(value='green') Green
                option(value='blue') Blue
                option(value='purple') Purple
                option(value='yellow') Yellow
                option(value='orange') Orange
                option(value='red') Red
                option(value='turquoise') Turquoise
                option(value='asphalt') Asphalt
            .four.small-tablet.fifths.padded
              .tile(data-value='default')
                i.icon-leaf
                | default
              .tile.green(data-value='green')
                i.icon-leaf
                | green
              .tile.blue(data-value='blue')
                i.icon-leaf
                | blue
              .tile.purple(data-value='purple')
                i.icon-leaf
                | purple
              .tile.yellow(data-value='yellow')
                i.icon-leaf
                | yellow
              .tile.orange(data-value='orange')
                i.icon-leaf
                | orange
              .tile.red(data-value='red')
                i.icon-leaf
                | red
              .tile.turquoise(data-value='turquoise')
                i.icon-leaf
                | turquoise
              .tile.asphalt(data-value='asphalt')
                i.icon-leaf
                | asphalt
        hr
        h4 Tile States
        .tiles
          .row
            .one.small-tablet.fifth.padded
              input.value.disabled(type='text', value='active', readonly='readonly')
            .four.small-tablet.fifths.padded
              .tile.disabled(data-value='disabled')
                i.icon-leaf
                | disabled
              .tile.active(data-value='active')
                i.icon-leaf
                | active
        hr
        h4 Tile Sizes
        .tiles
          .row
            .one.small-tablet.fifth.padded
              input.value(type='text', value='small')
            .four.small-tablet.fifths.padded
              .tile.small(data-value='small')
                i.icon-leaf
                | small
              .tile(data-value='default')
                i.icon-leaf
                | default
              .tile.large(data-value='large')
                i.icon-leaf
                | large
        hr
        h4 Tile Shapes
        .tiles
          .row
            .one.small-tablet.fifth.padded
              input.value(type='text', value='default')
            .four.small-tablet.fifths.padded
              .tile(data-value='default')
                i.icon-leaf
                | default
              .tile.square(data-value='square')
                i.icon-leaf
                | square
              .tile.round(data-value='round')
                i.icon-leaf
                | round
        hr
        h4 Hidden Field & Custom Callback Function
        .tiles
          input#yepNope.value(type='hidden', value='')
          script(type='text/javascript')
            $(document).ready(function() {
            $('input#yepNope').on('change', function() {
            if($(this).val() == 'yep')
            alert("Right on!");
            else
            alert("Aww, how come?");
            });
            });
          .tile(data-value='yep')
            i.icon-thumbs-up
          .tile(data-value='nope')
            i.icon-thumbs-down
