extends template
  
block head
  title GroundworkCSS ♥ Responsive Tooltips
  
block content
  .container
    .row
      .one.third.padded
        h1
          i.icon-info-sign
          |  Tooltips
        p
          | Responsive tooltips with smart positioning, resizing with window resize and smart repositioning on window scroll.
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5282911.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        a.tooltip(href='#', title='This tooltip comes from the `title` attribute of this link') Show me a tooltip!
      .two.thirds.padded
        h2 Tooltips
        p
          | Tooltips can be attached to any element by adding class
          code .tooltip
          | and adding a
          code title
          | attribute. When you hover over or focus on the element, the tooltip is displayed.
        p
          | Tooltips are useful for displaying additional instruction on form elements, describing the behavior of a link or button and much more.
        hr
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5282911.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        a.tooltip(href='#', title='This tooltip comes from the `title` attribute of this link') Show me a tooltip!
        hr
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5282914.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        button.tooltip(title='This tooltip comes from the `title` attribute of this button') Show me a tooltip!
        hr
        h6 Example Usage:
        script(src='https://gist.github.com/ghepting/5282906.js')
        noscript
          p.error.callout Javascript is required to display Gist from Github
        h6 Result:
        input.inline.tooltip(title='Enter your first & last name', placeholder='Name')
