// ===================================
//             Navigation
// ===================================




nav.nav {
  ul {
    li {
      a, a:visited {
        background:$blue-2;
        border-color:$blue-3;
        color:$white;
        text-shadow:0 0 5px rgba(0,0,0,0.25);
        &:hover, &:focus {
          background:$blue-3;
          border-color:$blue-3;
          color:$white;
        }
        &.active, &.active:hover, &.active:focus {
          background:$navy;
          border-color:lighten($navy, 10%);
        }
        &.white {
          background:$white;
          border-color:$lt-gray;
          &:hover, &:focus  {
            background:$lt-gray;
            border-color:$lt-gray;
          }
        }
        &.black {
          background:$black;
          border-color:$dk-gray;
          &:hover, &:focus  {
            background:$dk-gray;
            border-color:$dk-gray;
          }
        }
        &.gray {
          background:$gray;
          border-color:$dk-gray;
          &:hover, &:focus  {
            background:$dk-gray;
            border-color:$dk-gray;
          }
        }
        &.lt-gray {
          background:$lt-gray;
          border-color:$md-gray;
          &:hover, &:focus  {
            background:$md-gray;
            border-color:$md-gray;
          }
        }
        &.md-gray {
          background:$md-gray;
          border-color:$gray;
          &:hover, &:focus  {
            background:$gray;
            border-color:$gray;
          }
        }
        &.dk-gray {
          background:$dk-gray;
          border-color:$black;
          &:hover, &:focus  {
            background:$black;
            border-color:$black;
          }
        }
        &.green {
          background:$green;
          border-color:$dk-green;
          &:hover, &:focus  {
            background:$dk-green;
            border-color:$dk-green;
          }
        }
        &.lt-green {
          background:$lt-green;
          border-color:$green;
          &:hover, &:focus  {
            background:$green;
            border-color:$green;
          }
        }
        &.dk-green {
          background:$dk-green;
          border-color:$green;
          &:hover, &:focus  {
            background:$green;
            border-color:$green;
          }
        }
        &.blue-1 {
          background:$blue-1;
          border-color:$blue-2;
          &:hover, &:focus  {
            background:$blue-2;
            border-color:$blue-2;
          }
        }
        &.blue-2 {
          background:$blue-2;
          border-color:$blue-3;
          &:hover, &:focus  {
            background:$blue-3;
            border-color:$blue-3;
          }
        }
        &.blue-3, &.blue {
          background:$blue-3;
          border-color:$dk-blue;
          &:hover, &:focus  {
            background:$dk-blue;
            border-color:$dk-blue;
          }
        }
        &.lt-blue {
          background:$lt-blue;
          border-color:$blue-3;
          &:hover, &:focus  {
            background:$blue-3;
            border-color:$blue-3;
          }
        }
        &.dk-blue {
          background:$dk-blue;
          border-color:$blue-3;
          &:hover, &:focus  {
            background:$blue-3;
            border-color:$blue-3;
          }
        }
        &.navy {
          background:$navy;
          border-color:$dk-blue;
          &:hover, &:focus  {
            background:$dk-blue;
            border-color:$dk-blue;
          }
        }
        &.red {
          background:$red;
          border-color:$dk-red;
          &:hover, &:focus  {
            background:$dk-red;
            border-color:$dk-red;
          }
        }
        &.lt-red {
          background:$lt-red;
          border-color:$red;
          &:hover, &:focus  {
            background:$red;
            border-color:$red;
          }
        }
        &.dk-red {
          background:$dk-red;
          border-color:$red;
          &:hover, &:focus  {
            background:$red;
            border-color:$red;
          }
        }
      }
    }
    ul {
      li {
        a, a:visited {
          @extend .red;
          &:first-child, &:last-child {
            border-color:$dk-red !important;
          }
          &.disabled {
            @include state(disabled,normal,#c82647);
          }
        }
      }
    }
  }
  &.row, &.inline {
    ul {
      li {
        ul {
          li {
            a, a:visited {
              border-color:$dk-red;
            }
          }
        }
      }
    }
  }
  &.menu {
    > ul {
      li.menu {
        ul {
          li {
            a, a:visited {
              border-color:$dk-red;
              padding-left:2.6em;
              &:hover, &:focus {
                border-color:$dk-red;
              }
              i {
                position:absolute;
                top:0.6em;
                left:1em;
              }
            }
          }
        }
        &.on {
          > a, > a.visited {
            border-color:$button-active;
          }
        }
      }
    }
  }
}
