// ===================================
//      Customized Typography
// ===================================




a, a:visited {
  color:$navy;
  text-decoration:none;
  &:hover, &:focus {
    color:$blue-3;
    text-decoration:none;
  }
}

h1.heading {
  font-size:3em;
  text-shadow:0 0 5px rgba(0,0,0,0.2);
  a, a:visited {
    color:$navy;
    a:hover, a:focus {
      color:$navy;
    }
  }
  sup {
    font-size:0.35em;
    position:relative;
    top:-0.5em;
    left:0.25em;
  }
  .logo {
    display:inline-block;
    width:1em;
    height:1em;
    position:relative;
    top:0.1em;
    @include data-image('groundwork-logo.svg');
    background-size:100% 100%;
    text-indent:-9999em;
    overflow:hidden;
    @include filter-shadow(rgba(0,0,0,0.25), 5px, 0, 0); // color, blur, x, y
  }
}

.responsive:not('.heading') {
  line-height:1;
}

.hero {
  text-shadow:0 0 5px rgba(0,0,0,0.25);
  .large.button {
    line-height:2.5;
  }
}

h1, h2, h3, h4, h5, h6 {
  @include font-stack('AverageSans');
  color:$navy;
}

p, ul, ol, dl {
  a, a:visited {
    color:$navy;
    @include transition('color 0.25s, border-color 0.25s');
    &:hover, &:focus {
      color:$blue-3;
    }
  }
}


ul.list {
  li {
    &:before {
      color:$blue-3;
    }
  }
}

ol.list > li:before {
  color:$white;
  background:$blue-3;
}

::selection {
  background:$lt-blue;
  color:$white;
}
::-moz-selection {
  background:$lt-blue;
  color:$white;
}

.gist {
  .gist-file .gist-data pre.line-pre {
    font-family:monospace;
    font-size:inherit;
    font-weight:normal;
  }
  .gist-syntax {
    .k {
      color:$lt-red;
      font-weight:normal;
    }
    .o, .p, .nv, .err {
      color:$white;
      background:none;
    }
    .nf, .nt, .na {
      color:$lt-blue;
      font-weight:normal;
    }
    .nd, .nc, .s {
      color:$green;
      font-weight:normal;
    }
    .no {
      color:$orange;
    }
    .s1, .s2, .si {
      color:$yellow;
    }
  }
  .line-data {
    background:$navy;
  }
  .gist-meta {
    display:none;
  }
}
